  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;700&display=swap');

body{
    font-family: 'Noto Sans KR';
    margin: 0;
    letter-spacing: -.02em;
    color: rgba(0,0,0,.84);
    font-size: 15px;
    font-weight: 400;
}

#wz-header{
    position: static;
    height: 55.11px;
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
}

.web-header {
    position: static;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-wrapper{
    position: relative;
    text-align: center;
    border-bottom: 1px solid #f0f2f5;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 56px;
    z-index: 9998;
    background-color: #fff;
    width: 100%;
}

.header-container{
    padding: 0 80px;
    display: flex;
    margin: -10px 124px;
    height: 100%;
    position: absolute;
    transform: translate(210%);
}

.wadiz-label{
    padding: 20px 0 18px;
}

.path{
    width: 82.55px;
    height: 21.84px;
}

.gnb-large{
    position: absolute;
    display:flex;
    transform: translate(220%);
    color: #000000D6;
    list-style: none;
    text-align: center;
    right: -230px;
    top: 8px;
}

.gnb-large span {
    color: #000000D6
    }

.login{
    display:flex;
}

.login a{
    text-decoration: none;
    margin-right:15px
}

.login span{
    font-size: 15px;
    font-weight: 400px;
    text-align: center;
}

.signup{
    display: flex;
    width: auto;
    color: #60656a;
    text-decoration: none;
}

.sign span{
    font-size: 15px;
    font-weight: 400px;
    color: #60656a;
    text-align: center;
}

.signup a{
    text-decoration: none;
}

.HeaderMobile-back{
    left: 16px;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
}

button.web-main{
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: right;
}

.acoount-intro-login{
    position: static;
    transform: none;
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
    width: 400px;
}

.wz-container{
    padding: 76px 0px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
}

.user-sign-container{
    transform: none;
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 5px 8px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.wz-text-display2{
    color: rgba(0,0,0,.84);
    margin: 0px 0px 30px;
    line-height: 36px;
    letter-spacing: -.6px;
    font-weight: 700;
    font-family: "Noto Sans KR";
    width: 368px;
    font-size: 36px;
}

frm-login{
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Noto Sans KR"
}

input{
    width: 352px;
    height: 48px;
    font-size: 17px;
    font-weight: 300;
    outline: none;
    padding: 0 0.94118em;
    vertical-align: middle;
    color: rgba(0,0,0,.54);
    border: 1px solid rgba(0,0,0,.15);
    font-family: 'Noto Sans KR';
}

#emailError{
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 4px;
    color: #f25555;

}

.login-action{
    color: rgba(0,0,0,.54);
    font-size: 13px;
    text-decoration: none;
}

.forgot{
    color: rgba(0,0,0,.54);
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin-bottom: 30px;
}

.forgot a{
    font-family: 'Noto Sans KR';
    color: #0000008A;
    text-decoration: none;
    
}

.loginbutton{
    display: block;
    margin: 12px 0 0;
    background-color: #00c4c4;
    color: #fff;
    border-color: #00c4c4;
    width: 100%;
    text-align: center;
    padding: 9px 24px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    height: 48px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.75px;
    font-family: 'Noto Sans KR';
}

.kakaobutton{
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    border-color: #fee500;
    background-color: #fee500;
    margin-top: 12px;
    padding: 9px 24px;
    font-size: 16px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    color: #495057;
    box-sizing: border-box!important;
    font-weight:500px;
    font-family: 'Noto Sans KR';
}

.kakaobutton span{
    display: inline-flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 0;
}

.kakaobutton svg{
    position: absolute;
    left: 16px;
    width: 22px;
    height: 22px;
}

#naver{
    font-size: 16px;
    font-family: 'Noto Sans KR';
    width: 100%;
    margin: 12px 0 0;
    border-color: #00d337;
    background-color: #00d337;
    color: #FFFFFF;
    font-weight: 500px;
    position: relative;
    padding: 9px 24px;
}

#naverlogo{
    position: absolute;
    z-index: 1;
    margin: 15px 3px;
}


.google{
    text-align: center;
}

#google{
    border-radius: 999em;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 20px;
    border-color: #ced4da;
    background-color: #fff;
    border: 1px solid #cdd3d8;
    margin-right: 12px;
}


#facebook{
    border-radius: 999em;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 20px;
    border-color: #1877f2;
    background-color: #1877f2;
    color: #fff;
    margin-right: 12px;
    border: 1px solid #1877f2;
}

.facebook{
    fill:currentColor;
}

.facebook svg{
    width:1em;
    height:1em;
}

#apple{
    border-radius: 999em;
    padding: 0;
    width: 48px;
    height: 48px;
    font-size: 20px;
    border-color: #fff;
    background-color: #000;
    margin-right: 15px;
    border: 1px solid #000;
    color:#fff;
}

.apple{
    fill:#fff;
}

.apple svg{
    width:1em;
    height:1em;
}

.snsbuttoncircle{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.bottom-message{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 82px;
    text-align: center;
    font-size: 14px;

}

.join{
    margin-left: 6px;
    text-decoration: underline;
    color: #00c4c4;
    font-size: 14px;
}

